.button {
    margin-bottom: 10px;
}

.linkContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    border-radius: 10px;
    margin-bottom: 10px;
}

.link {
  text-decoration: none;
  font-size: 20px;
}

.activeLink {
  color: orangered;
}